.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding-top: 76px;
  padding-left: 16px;
}

.galleryItem {
  flex: 1 1 calc(25% - 16px);
  max-width: calc(25% - 16px);
}
