.card {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.image {
  display: block;
  width: 100%;
  height: 320px;
  object-fit: cover;
}
